/* 
Autor: Angel Gabriel Villalobos Saucedo
Descripción: Css para el estilo de reportes y tablas de consulta
Fecha de Creación:  Jueves 14, Noviembre 2024
Ultima modificación: Viernes 17, Noviembre 2024
*/

/* Fondo del reporte */
.reporte-section {
    background-image: url("https://img.freepik.com/vector-premium/marmol-abstracto-textura-fondo-blanco-negro_100956-254.jpg");
    background-position: 50% 50%;
    padding: 20px;
  }
  
  /* Contenedor principal */
  .reporte-sheet {
    min-height: 760px;
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Tabla de reportes */
  .reporte-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .reporte-table th, .reporte-table td {
    padding: 12px;
    border-bottom: 1px solid #202020;
  }
  
  .reporte-table th {
    background-color: #212121;
    font-weight: bold;
    text-align: center;
  }
  .reporte-table tr{
    background-color: #424242;
    text-align: center;
    color: #fff;
  }
  
  .reporte-table tr:nth-child(even) {
    background-color: #525252;
  }
  .input-frame{
    border: #00000094 1px solid;
    background: #0000002f;
    text-align: center;
  }

  .submit-btn{
    color: #fff;
    background-color: #20202056;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
  }
  .submit-btn:hover{
    color: #bebebe;
    background-color: #ffffff25;
  }
  
  /* Título del reporte */
  .reporte-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Botón para acciones */
  .reporte-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #202020;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .reporte-btn:hover {
    background-color: #0056b3;
  }
  

  /* Media */
  @media print {
    body * {
        visibility: hidden;
    }
    table, table * {
        visibility: visible;
    }
    table {
        margin: 0 auto;
    }
    .action-buttons {
        display: none;
    }
}